.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1%;
}

.center-top {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.container {
  position: relative;
}

.top-left {
  justify-content: center;
  padding-bottom: 3%;
}